@font-face {
    font-family: "Shadows Into Light";
    src: url("../fonts/Shadows_Into_Light/ShadowsIntoLight.tff");
    src: url("../fonts/Shadows_Into_Light/ShadowsIntoLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light-webfont.tff");
    src: url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    margin-left: -8px;
    margin-right: -8px;
    
}

header {
    width: 100%;
    height: 80px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    color: rgba(73, 170, 245, 1);
    font-size: 70px;
    line-height: 50px;
    font-family: "Shadows Into Light";
    background-color: rgba(100, 100, 100,1);
    
}
#dropzone {
    margin-right: 50px;
    margin-left: 100px;
}

#canvas {
    display: inline-block;
    width: 1150px;
    height: 600px;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(100, 100 ,100, 1);
    border-color: rgba(73, 170, 245, 1);
}


#filters{
    font-family: "Roboto";
    color: rgba(255, 255, 255, 1);
    margin-left: 200px;
    margin-top: -100px;
}

#filterstyle {
    float: left;
    margin-left: 20px;
}

#filters button{
    background-color: rgba(100, 100, 100,1);
    border-style: none;
    font-size: 15px;
    color: rgba(73, 170, 245, 1);
    margin-top: 5px;
    margin-right: 10px;
}

#filters button:hover{
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}

#customText {
    float: left;
    margin-top: 30px;
    margin-left: 80px;
    width: 250px;
    background-color: rgba(100, 100, 100,1);
    border-style: dotted;
    font-size: 15px;
    font-family: "Roboto";
    color: rgba(73, 170, 245, 1); 
}

#addtext:hover {
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}

#textwrapper {
    margin-top: 20px;
    margin-right: 10px;
}
#textwrapper button {
    background-color: rgba(100, 100, 100,1);
    border-style: none;
    font-size: 15px;
    color: rgba(73, 170, 245, 1);
    margin-top: 5px;
    margin-right: 10px;
}
#textwrapper button:hover {
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}

#canvas:hover {
    cursor: crosshair;
}

#textcolor {
    margin-top: 10px;
    margin-right: 10px;
}
#textcolor button {
    margin-top: 5px;
    background-color: rgba(100, 100, 100,1);
    color: rgba(73, 170, 245, 1);
    font-size: 15px;
    margin-top: 5px;
    margin-right: 10px;
}
#textcolor button:hover {    
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}
#redText {
    border: 4px solid rgb(255,0,0);
}
#greenText {
    border: 4px solid rgb(0,255,0);
}
#blueText {
    border: 4px solid rgb(0,0,255);
}
#yellowText {
    border: 4px solid rgb(255,255,0);
}
#blackText {
    border: 4px solid rgb(0,0,0);
}
#whiteText {
    border: 4px solid rgb(255,255,255);
}
.highlight {
    border-color: rgba(73, 170, 245, 1);
}

#introduction{
    position: relative;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 18px;
    font-family: "Roboto";
    color: rgba(100, 100, 100,1);
}

#imageRemove{
    background-color: rgb(20, 20, 20);
    color: rgba(100, 100, 100,1);
    border-style: none;
    font-family: "Roboto";
    font-size: 30px;
    margin-left: 880px;
}
#download {
    background-color: rgba(100, 100, 100,1);
    border-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: rgba(73, 170, 245, 1);
    margin-left: 40px;
}
#saveCanvas{
    background-color: rgba(100, 100, 100,1);
    border-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: rgba(73, 170, 245, 1);
    margin-left: 40px;
}
#loadCanvas{
    background-color: rgba(100, 100, 100,1);
    border-style: none;
    font-size: 15px;
    font-family: "Roboto";
    color: rgba(73, 170, 245, 1);
    margin-left: 5px;
}
#saveCanvas:hover {
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}
#loadCanvas:hover {
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}
#download:hover {
    cursor: pointer;
    border-color: rgba(73, 170, 245, 1);
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}